html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    text-align: center;
}

.message {
    margin: 10px 0;
}